<head th:fragment="headFragment">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="http://localhost:8080/" >
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.2/css/all.css}" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script th:src="@{webjars/bootstrap/dist/js/bootstrap.bundle.min.js}" defer></script>
</head>