<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="http://localhost:8080/" >
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.2/css/all.css}" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script th:src="@{webjars/bootstrap/dist/js/bootstrap.bundle.min.js}" defer></script>
</head>
<body >
  <main style="height: 100vh;" class="wrapper">
    <div th:replace="~{fragments/sidebar}"></div>

    <div class="container-fluid tab-content" id="v-pills-tabContent">
      <!-- Conteúdo da Homepage-->
      <div class="tab-pane fade show active" id="conteudo-inicio" role="tabpanel" aria-labelledby="tab-inicio" tabindex="0">
        <div class="card container mt-3">
            <h5 class="pt-2">Metas</h5>
            <div class="row">
            <div class="col-3">
              <div class="card text-bg-primary my-2" style="width: 18rem; height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">Qtd. Vendas</h5>
                    <p class="card-text">Quantidade de Vendas Realizadas</p>
                    <div class="progress bg-white bg-opacity-50" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar bg-white " style="width: 25%"></div>
                    </div>
                </div>
              </div>
            </div>

            <div class="col-3">
              <div class="card text-bg-success my-2" style="width: 18rem; height: 8rem;">
                <div class="card-body">
                  <h5 class="card-title">R$ Vendas Diária</h5>
                  <p class="card-text">Quantidade de Vendas Realizadas</p>
                  <div class="progress bg-light bg-opacity-50" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-white" style="width: 25%"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-3">
              <div class="card text-bg-warning my-2" style="width: 18rem; height: 8rem;">
                <div class="card-body">
                  <h5 class="card-title">R$ Vendas no Mês</h5>
                  <p class="card-text">Quantidade de Vendas Realizadas</p>
                  <div class="progress bg-white bg-opacity-50" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-white " style="width: 25%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card container mt-3">
          <div class="row">
            <div class="col-12">
              <div class="row mb-3 pt-2">
                <div class="col-8">
                  <h5>Dashboard</h5>
                  <p class="text-body-secondary">Últimas vendas realizadas</p>
                </div>

                <div class="col-4">
                  <div class="row">
                    <div class="col">
                      <label for="startDate">Data Início</label>
                      <input id="startDate" class="form-control" type="date" />
                    </div>
                    
                    <div class="col">
                      <label for="startDate">Data Fim</label>
                      <input id="startDate" class="form-control" type="date" />
                    </div>
                  </div>
                </div>

              </div>

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="text-center" style="width: 12rem;">Detalhes da Venda</th>
                    <th scope="col" class="text-center" style="width: 10rem;">Código da Venda</th>
                    <th scope="col" class="text-center" style="width: 9rem;">Data da Venda</th>
                    <th scope="col" class="text-center">Cobrado</th>
                    <th scope="col" class="text-center">Pago</th>
                    <th scope="col" class="text-center">Troco</th>
                    <th scope="col" class="text-center">Pagamento</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="venda : ${vendas}">
                    <td class="d-flex justify-content-center" style="width: 12rem;">
                      <button type="button" class="btn btn-primary">
                        <i class="fa-solid fa-gear"></i>
                      </button>
                    </td>
                    <th scope="row" class="text-center" th:text="${venda.codVenda}" style="width: 10rem;"></th>
                    <td th:text="${#dates.format(venda.dataVenda, 'dd/MM/yyyy HH:mm')}" class="text-center"></td>
                    <td th:text="${venda.cobrado}" class="text-center"></td>
                    <td th:text="${venda.pago}" class="text-center"></td>
                    <td th:text="${venda.troco}" class="text-center"></td>
                    <td th:text="${venda.tipoPagamento}" class="text-center"></td>
                  </tr>
                </tbody>
              </table>

              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>  
          </div>
        </div>

      </div>



      <div class="tab-pane fade" id="conteudo-produto" role="tabpanel" aria-labelledby="tab-produto" tabindex="0">
          
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Produto</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      
    </div>
  </main>

  <!-- CONTEÚDO -->
  
</body>
</html>